body {background-color:#C24D00; margin:0px;}
.header {background-color:#00C24E; width:100%; height:300px; box-shadow:0px 0px 5px black; background-image: url(http://fc08.deviantart.net/fs38/f/2008/339/3/1/Sad_Melon_by_FuguGuy.png);}
.wrapper {text-align:center; font-size:1.5em;}
